#
# Lingo-Konfiguration für den Test mit einer LIR-Datei
#
# Gebräuchliche Patterns sind
#
#   "^\021(\d+\-\d+)\022"
#   "^\[(\d+)\.\]"
#
---
meeting:

  attendees:

    ########################################
    # Text bereitstellen
    #

    # Angegebene Datei zeilenweise einlesen und verarbeiten
    - text_reader:     { files: $(files), records: true, progress: true }


    ########################################
    # Inhalte verarbeiten
    #

    # Zeile in einzelnen Sinnbestandteile (Token) zerlegen
    - tokenizer:       { }

    # Verbleibende Token im Wörterbuch suchen
    - word_searcher:   { source: sys-dic, mode: first }

    # Nicht erkannte Wörter auf Kompositum testen
    - decomposer:      { source: sys-dic }

    # Mehrwortgruppen im Strom erkennen
    - multi_worder:    { source: sys-mul }

    # Wortsequenzen anhand von Regeln identifizieren
    - sequencer:       { stopper: PUNC,OTHR }

    # Relationierungen einfügen
    - synonymer:       { skip: '?,t', source: sys-syn, out: syn }


    ########################################
    # Datenstrom anzeigen
    #
#   - debugger:        { eval: 'true', ceval: 'cmd!="EOL"', prompt: 'lex:) ' }


    ########################################
    # Ergebnisse ausgeben
    #

    # Erstelle Datei mit Endung .log für Datenstrom
    - vector_filter:   { in: syn, debug: 'true', prompt: 'lex:) ' }
    - text_writer:     { ext: log, sep: "\n" }

    # Erstelle Datei mit Endung .non für nicht erkannte Wörter
    - noneword_filter: { in: syn }
    - text_writer:     { ext: non, sep: '|' }

    # Erstelle Datei mit Endung .vec für erkannte Indexterme
    - vector_filter:   { in: syn, lexicals: '^[ksavem]$' }
    - text_writer:     { ext: vec, sep: '|' }

    # Erstelle Datei mit Endung .mul für erkannte Mehrwortgruppen
    - vector_filter:   { in: syn, lexicals: m }
    - text_writer:     { ext: mul, sep: '|' }

    # Erstelle Datei mit Endung .seq für erkannte Wortsequenzen
    - vector_filter:   { in: syn, lexicals: q, sort: term_abs }
    - text_writer:     { ext: seq, sep: '|' }

    # Erstelle Datei mit Endung .syn für erkannte Synonyme
    - vector_filter:   { in: syn, lexicals: y, sort: term_abs }
    - text_writer:     { ext: syn, sep: '|' }
